<% var rootPath = '../../' %>
<!DOCTYPE html>
<html>

<head>
  <%- include(rootPath + 'includes/header.ejs') %>
</head>

<body>
  <%- include(rootPath + 'includes/nav.ejs') %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>

    <main>
      <div class="container">
        <h2>List of Users</h2>
        <form action="/teamActivities/02/addUser" method="POST">
          <label for="username">Username</label>
          <input type="text" name="username">
          <button type="submit">Add User</button>
        </form>

        <div id="addErr">
          <% if (isAddable) { %>
            <p>Cannot add the same name twice!</p>
          <% } %>
        </div>

        <div class="remove">
          <form action="/teamActivities/02/removeUser" method="POST">
            <label for="remove">Remove User</label>
            <input type="text" name="remove">
            <button type="submit">Remove User</button>
          </form>
        </div>

        <div id="removeErr">
          <% if (oldUser) { %>
          <p>Cannot remove an unexisting user!</p>
          <% } %>
        </div>
  
        <div class="container">
          <% for (name of user) { %>
            <li><%= name %></li>
          <% } %>
        </div>
      </div>
    </main>
    

</body>

</html>